* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserra',Arial, sans-serif;
    color: rgb(75, 72, 66);
    user-select: none;
}

/* inchangé */
body {
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    padding: 1rem;
    background: linear-gradient(140deg,rgb(202, 202, 200),rgb(228, 227, 214), rgb(189, 183, 136)) no-repeat;
}

/* inchangé */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
}


.header .app-name {
    border: solid 1px rgb(75, 72, 66);
    border-radius: 1.2rem;
    background-color: transparent; /* effet glass si possible */
    height: 100%;
    padding: 0 0.8rem 0 0.8rem;
    cursor: default;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 247, 240);
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1px;
    position: relative;
}


.navbar .active {
    background-color: rgb(75, 72, 66);
    color: white;
    transition: color 0.2s ease;
}


.navbar div:nth-child(n) {
    height: 100%;
    padding: 0 0.8rem 0 0.8rem;
    display: flex;
    align-items: center;
    border-radius: 1.2rem;
    cursor: pointer;
}


.header .settings {
    background-color: rgb(248, 247, 240);
    border-radius: 1.2rem;
    height: 100%;
    padding: 0 0.8rem 0 0.8rem;
    cursor: pointer;
}


.nav-highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0; /* sera réglé en JS */
    background-color: rgb(75, 72, 66);
    border-radius: 1.2rem;
    z-index: 0;
    transition: all 0.25s ease-out;
}

.navbar .class {
    position: relative;
    z-index: 1; /* les boutons passent au-dessus */
}





.content {
    display: none;
}

    
.content.active {
    display: block;
}


.card {
    background-color: rgb(248, 247, 240);
    border-radius: 1rem;
}

.home #welcom,#day,#week,#stats {
    padding: 1rem;
}


.home #welcom h1 {
    font-weight: 350;
    font-size: 3rem;
    cursor: default;
} 


.home #welcom h5 {
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    cursor: default;
} 


.circle {
    aspect-ratio: 1;
    height: 100px;
    background-color: red;
}


.graph {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}


.card#phot1 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: none;
}


.card img {
    width: 100%;
    height: 100%;
    opacity: 0.85;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}


.column-day {
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}


.column-day .day {
    display: flex;
    justify-content: center;
}


.column-day .progress {
    width: 100%;
    height: 50%;    /* variable en fonction du nombre d heures */
    background-color: rgb(75, 72, 66);
    border-radius: 0.6rem 0.6rem 0.2rem 0.2rem;
    animation: slide 0.6s ease;
}


.column-day .echelle p {
    display: flex;
    justify-content: center;
    align-items: top;
}


@keyframes slide {
    from {
        height: 0;
    }

    to {
        height: 100;
    }
}

.study .objectifs,.timer {
    padding: 1rem;
}

.objectifs h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}


.objectifs .todo-list {
    background-color: rgba(0,0,0,0.07);
    width: 100%;
    border-radius: 1rem;
    padding: 5px;
    list-style: none;
    overflow: auto;
    flex-grow: 1;
}


.todo-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.todo-list::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 4px;
}

.todo-list::-webkit-scrollbar-thumb:hover {
    background-color: #2163b9;
}