@media (min-width: 100px) {/* ap artir de la ca devient telephone*/

    .header .app-name {
        display: none;
    }

    .header .settings {
        display: none;
    }

    .navbar {
        width: 100%;
    }


    .content#home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "box3"
        "box4"
        "box5";
        gap: 5px;
    }


    #welcom {
        display: none;
    }

    #photo1 {
        display: none;
    }

    #photo2 {
        display: none;
    }

    #day {
        display: block;
    }

    #stats {
        display: block;
    }

    #week {
        display: block;
    }
}