* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserra',Arial, sans-serif;
}


body {
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(140deg,rgb(202, 202, 200),rgb(228, 227, 214), rgb(189, 183, 136));
}



header {
    border-radius: 2.3rem;
    display: flex;
    justify-content: center;
}


/* partie nva-bar */
ul#navbar {
    background-color: rgb(248, 247, 240);
    max-width: 400px;
    min-width: 250px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 1.3rem;
}

#navbar li {
    margin: 2px;
    padding: 10px;
    border-radius: 1.2rem;
    transition: ease 0.3s background-color;
}

#navbar li.active {
    background-color: rgb(51, 49, 44);
    color: white;
}

#navbar li:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}


#navbar li.active:hover {
    background-color: black;
    color: white;
}


/* partie home*/
.main {
    display: none;
    padding: 20px;
}


.active {
    display: block;
}




@media (max-width: 420px) {
    .home {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "box-1"
        "box-3"
        "box-4"
        "box-5" ;
    }
}


/* @media (max-width: 1280px) {
    .home {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "box-1 box-2 box-3 box-3"
        "box-4 box-4 box-5 box-5" ;
    }
} */



.home .Welcom h1 {
    font-weight: 350;
    font-size: 3rem;
}


.home .Welcom h5 {
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}


.card {
    background-color: rgb(248, 247, 240);
    padding: 20px;
    border-radius: 1.1rem;
}


.Calendar h3 {
    font-weight: 400;
}


.chart-bar {
    height: 170px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}


.bar {
    flex: 1;
    background: #d6bc84;
    border-radius: 14px 14px 0 0;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #f0efe1;
    font-weight: 350;
}

/* https://www.youtube.com/watch?v=H2HYccAGR00

ce lien est pour le cerlce de progression */


.To-Do .text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.To-Do .tasks {
    display: flex;
    justify-content: space-between;
}


.To-Do .tasks ul {
    list-style: none;
}


.To-Do .tasks .circle {
    aspect-ratio: 1;
    width:100px;
    border: black solid 1px;
    border-radius: 50%;
    position: relative;
}


.To-Do .tasks .circle::before {
    content: "50%";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}